{% extends 'news/base.html' %}

{% block title %} Login sahifasi {% endblock title %}  

{% block content %}

    <h2 class="text-center">Veb-saytga kirish - login</h2>
    <h2>Sizda ro'yxatdan o'tmagan bo'lsangiz <a href="{% url 'user_register' %}" class="text-danger">ro'yxatdan o'tishingiz</a> mumkin</h2>
    <br>
    <p>Iltimos, saytga kirish uchun quyidagi formani to'ldiring!</p>
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success m-2">Login qilish</button>
        <a href="{% url 'password_reset' %}" class="btn btn-danger m-2">Parolni unutdingizmi</a>
        <a href="{% url 'user_register' %}" class="btn btn-primary ">Sign Up</a>
    </form>

{% endblock content %}