{% extends 'news/base.html' %}

{% load hitcount_tags %}
{% block title %} Iqtisodiyot Yangiliklari {% endblock title %}
{% block content %}
<h2 class="text-center display-2"> Iqtisodiyot Yangiliklari</h2>
{% for news in iqtisodiyotNews %}
<div class="div" style="padding: 50px">
    <a href="{{ news.get_absolute_url }}">
        <div class="row">
            <div class="col-4" style="float: left; margin-right: 30px;">
                <img src="{{ news.image.url }}" alt="Picture" style="width: 200px;">
            </div>
            <div class="col-8">
                <p>{{ news.create_time }} | <i class="fa fa-eye" aria-hidden="true"></i> {% get_hit_count for news %}</p>
                        <h4>{{ news.title }}</h4>
                    </div>
                </div>
            </a>
        </div>
    {% endfor%}
{% endblock content %}