{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta author="Temurbek Yorkulov">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News</title>
    <link rel="stylesheet" href="{% static 'css/temur.css' %}">
    <style>
        body{
            {% comment %} background-color: red; {% endcomment %}
        }
    </style>
</head>
<body>
    <h2> {{ newsDetail.title }} </h2>
    <p> {{ newsDetail.body }} </p>
</body>
</html>