{% extends 'news/base.html' %}
{% load static %}
{% block content %}
  <div class="div" style="padding: 50px">
    <h2 style="font-weight: 700; font-size: 40px; line-height: 60px;">{{ newsDetail.title }}</h2>
    <br>
    <p style="color: grey;">Maqola yozildi: {{ newsDetail.create_time }}</p>
    <hr>
    <img src="{{ newsDetail.image.url }}" alt="Picture" style="width: 100%">
    <br>
    <p style="margin-top: 70px; font-size: 24px; color: gray;">{{ newsDetail.body }}</p>
    <hr>
    <div class="buttons">
        <a href="#" class="btn btn-danger m-2">O'chirish</a>
        <a href="#" class="btn btn-primary m-2">Taxrirlash</a>
    </div>
  </div>
{% endblock %}
